@import "_variables.styl"
@import "_mixins.styl"
@import "_funciones.styl"
@import "_condicionales.styl"

.pseudoelement
  font-size: font-size
  width: 300px
  &:before
    content: "hola"
  .ie-8 &
    &:before
      content: "chao"
body 
  color: red
  .primerijo 
    margin: 20px
.btn
  background-color: pink 
  border-radius: 2px
  &--alert
    background-color: red
